<div class="container">
    <h2>{{title}}</h2>
    <hr>
    <form #asistenttForm="ngForm" (ngSubmit)="onSubmit(asistenttForm)" class="row g-3">
        <div class="row-auto">
            <label for="id">Id </label>
            <input type="text" name="id" class="form-control" placeholder="Id " id="inputCrearEvento" #id="ngModel" [(ngModel)]="asistent.id" >
        </div>
        <div class="row-auto">
            <label for="nombreUsuario">Nombre de Usuario</label>
            <input type="text" class="form-control" name="nombreUsuario" placeholder="Nombre Usuario" id="inputCrearEvento" #nombreUsuario="ngModel" [(ngModel)]="asistent.nombreUsuario" >
        </div>
        <div class="row-auto">
            <label for="nombreCompleto">Nombre Completo</label>
            <input type="text" class="form-control" name="nombreCompleto" placeholder="Nombre Completo" id="inputCrearEvento" #nombreCompleto="ngModel" [(ngModel)]="asistent.nombreCompleto" >
        </div>
        <div class="col-auto">
            <label for="nombre">Ciudad</label>
            <input type="text" class="form-control" name="nombre" placeholder="Nombre " id="inputCrearEvento" #nombre="ngModel" [(ngModel)]="asistent.ciudad.nombre" >
        </div>
        <div class="col-auto">
            <label for="departamento"></label>
            <input type="text" class="form-control" name="departamento" placeholder="Departamento" id="inputCrearEvento" #departamento="ngModel" [(ngModel)]="asistent.ciudad.departamento" >
        </div>
        <div class="col-auto">
            <label for="pais"></label>
            <input type="text" class="form-control" name="pais" placeholder="Pais" id="inputCrearEvento" #pais="ngModel" [(ngModel)]="asistent.ciudad.pais" >
        </div>
        <div class="row-auto">
            <label for="tipoUsuario">Tipo Usuario</label>
            <input type="text" class="form-control" name="tipoUsuario" placeholder="Tipo Usuario" id="inputCrearEvento" #tipoUsuario="ngModel" [(ngModel)]="asistent.tipoUsuario" >
        </div>
        <div class="row-auto">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" placeholder="Email" id="inputCrearEvento" #email="ngModel" [(ngModel)]="asistent.email" >
        </div>
        <div class="row-auto">
            <button type="submit" class="btn btn-primary mb-3">Enviar</button>
        </div>
    </form>
    <hr>
    <div class="message succes" *ngIf="status == 'succes' ">
        <p>El {{entidad}} se ha creado correctamente en el evento </p>
    </div>
    <div class="message succes" *ngIf="status == 'failed'">
        El {{entidad}} NO SE HA PODIDO CREAR
    </div>

</div>