<div class="container" *ngIf="event">
    <h3 id="tituloEvento">Informacion del evento</h3>
    <hr>
    <div class="data">
        <h3>Titulo del evento: {{event.titulo}}</h3>
        <h3>Descripcion: {{event.descripcion}}</h3>
        <h3>Categorias: {{event.categorias}}</h3>
        <h3>Fecha: {{event.fecha}}</h3>
        <h3>Sede: {{event.sede}}</h3>
        <h3>Lugar Evento: {{event.lugarEvento.nombre}} - {{event.lugarEvento.direccion}}- {{event.lugarEvento.ciudad}} </h3>
        <h3>Facultad Organizadora: {{event.facultadOrganizadora}}</h3>
        <h3>Programa Organizado: {{event.programaOrganizado}}</h3>
        <br>
        <div class="form-group" id="tablaCont" *ngIf="conferencistas[0] != null ">
            <h3 id="tituloEvento">Conferencistas del evento</h3>
            <hr>
            <div>
                <table class="table table-striped table-bordered table-sm" id="tabla">
                    <tr>
                        <th *ngFor="let column of headers1">
                            {{column}}
                        </th>
                    </tr>

                    <tr *ngFor="let conferencista of conferencistas    ">
                        <td>{{conferencista.nombreUsuario}}</td>
                        <td>{{conferencista.nombreCompleto}}</td>
                        <td>{{conferencista.tipoUsuario}}</td>
                        <td>{{conferencista.email}}</td>
                        <td>{{conferencista.ciudad.nombre}}</td>
                        <td>{{conferencista.ciudad.departamento}}</td>
                        <td>{{conferencista.ciudad.pais}}</td>
 
                    </tr>

                </table>
            </div>

        </div>
       
        <br>
        <div class="form-group" id="tablaCont" *ngIf="asistentes[0] != null ">
            <h3 id="tituloEvento">Asistentes del evento</h3>
            <hr>
            <div>
                <table class="table table-striped table-bordered table-sm" id="tabla">
                    <tr>
                        <th *ngFor="let column of headers1">
                            {{column}}
                        </th>
                    </tr>

                    <tr *ngFor="let asistente of asistentes    ">
                        <td>{{asistente.nombreUsuario}}</td>
                        <td>{{asistente.nombreCompleto}}</td>
                        <td>{{asistente.tipoUsuario}}</td>
                        <td>{{asistente.email}}</td>
                        <td>{{asistente.ciudad.nombre}}</td>
                        <td>{{asistente.ciudad.departamento}}</td>
                        <td>{{asistente.ciudad.pais}}</td>
 
                    </tr>

                </table>
            </div>

        </div>
        <br>
        <div class="form-group" id="tablaCont" *ngIf="comentarios[0] != null ">
            <h3 id="tituloEvento">Comentarios del evento</h3>
            <hr>
            <div>
                <table class="table table-striped table-bordered table-sm" id="tabla">
                    <tr>
                        <th *ngFor="let column of headers">
                            {{column}}
                        </th>
                    </tr>

                    <tr *ngFor="let comentario of comentarios">
                        <td>{{comentario.idUsuario}}</td>
                        <td>{{comentario.comentario}}</td>
                    </tr>

                </table>
            </div>

        </div>
        
        <p >
            <a [routerLink]="['/registrarComentarios',event._id]" class="button-reg">Ingresar Comentarios</a>
            <a [routerLink]="['/registrarAsistentes',event._id]" class="button-reg">Ingresar Asistente </a>
            <a [routerLink]="['/registrarConferencista',event._id]" class="button-reg">Ingresar Conferencista</a>
        </p>

    </div>
</div>