/*Generales*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Courier New",Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-attachment: fixed;
}
.clearfix{
    float: none;
    clear: both;
}
/*Barra de navegacion*/
header{
    width: 100%;
    height: 72px;
    background: #EAE5E4;
    position:fixed ;
}
.navbar .nav-item .nav-link{
    color: black;
}
#logo-barra{ 
    width: 50%;    
    height: 5%;
}
#logo-carro{
    float: right;
}
header .contenido{   
    padding-left: 80px;
}
header ul{
    display: block;
    width: 750px;
    height: inherit;
    margin: 0px auto;
}
header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    transition: all 300ms;
}
header .image a:hover{
    background:transparent;
}
header a:hover,
.actived{
    font-family: cursive;
}
header a{
    font-size: 15px;
}

/*Contenido Principal*/
#content{
    min-height: 1100px;
    width: 100%;
    margin:0px auto;
    box-shadow: 0px 0px  40px black;
    background: white;
    padding-top: 120px;
    padding-bottom: 18%;
}

/*Crear eventos */

#inputCrearEvento{
    width: 88%;
}
.message{
    width: 30%;
    padding: 5px;
    border: 1px solid #eee;
}
.succes{
    background: green;
    color: white;
}
.succes a{
    color: white;
}
.failed{
    background: red;
    color: white;
}

/*Eventos*/
.event{
    list-style: none;
    display: block;
    float: left;
    width: 27%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.event a{
    text-decoration: none;
    color: black;
}

form button,
form input[type="submit"],
.button-reg{
    display: block;
    font-size: 17px;
    padding: 10px;
    margin-top: 15px;
    color: white;
    background: green;
    border: 1px solid rgb(53,103,164,0.8);
    cursor: pointer;
}
.button-reg:hover{
    color: black;
}
.button-reg{
    width: 12%;
    float :left;
    margin-right: 10px;
    text-decoration: none;
    border: none;
}
#tituloEvento{
    font-weight: bold;
}
#tabla {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

#tablaCont {
    margin-right: 7%;
}

#tabla {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

#tabla td,
#tabla th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabla tr:hover {
    background-color: #ddd;
}

#tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    background: lightgray;
}

/*Footer*/
footer{
    width: 85%;
    margin: 0px auto;
    padding-top: 8px;
    color: rgba(0,0,0,0.8);
}
